<!-- footer taken from ms3 made by me, adapt later to fit my style-->
<!-- <div class="container center-align socials">
    <a class="white-text" href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="link to instagram website (opens in new tab)"><i class="fab fa-instagram website"></i></a>
    <a class="white-text" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="link to facebook website (opens in new tab)"><i class="fab fa-facebook"></i></a>
    <a class="white-text" href="https://www.twitter.com/" target="_blank" rel="noopener" aria-label="link to twitter website (opens in new tab)"><i class="fab fa-twitter"></i></a>
    <a class="white-text" href="https://www.tiktok.com/" target="_blank" rel="noopener" aria-label="link to tikitok website (opens in new tab)"><i class="fab fa-tiktok"></i></a>
    <a class="white-text" href="https://uk.linkedin.com/" target="_blank" rel="noopener" aria-label="link to linkedin website (opens in new tab)"><i class="fab fa-linkedin"></i></a>
</div>
<div class="footer-copyright">
    <div class="container">
    <p class="white-text left">The Cocktail Cabinet. For educational purposes only..</p>
    <a class="white-text right" href="https://www.linkedin.com/home" target="_blank" rel="noopener" aria-label="link to linkedin website (opens in new tab)">Copyright &copy; rhysmoggs <span id="copyright"></span></a>
    </div>
</div> -->

<!-- footer taken from here, adapt later to fit my style-->
<!-- https://mdbootstrap.com/docs/b4/jquery/navigation/footer/ -->
<div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Very long link 1</a>
                </li>
                <li>
                    <a href="#!">Very long link 2</a>
                </li>
                <li>
                    <a href="#!">Very long link 3</a>
                </li>
                <li>
                    <a href="#!">Very long link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none">

        <!-- Grid column -->
        <div class="col-md-3 mx-auto">

            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

            <ul class="list-unstyled">
                <li>
                    <a href="#!">Link 1</a>
                </li>
                <li>
                    <a href="#!">Link 2</a>
                </li>
                <li>
                    <a href="#!">Link 3</a>
                </li>
                <li>
                    <a href="#!">Link 4</a>
                </li>
            </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

</div>
<!-- Footer Links -->

<!-- Copyright -->
<div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="/"> MDBootstrap.com</a>
</div>